<div id="main">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">
			<div class="intro">
				<p>
					深圳诚也科技有限公司提供网站建设服务，专注于网站制作技术，诚心打造，用心定制。期待与您通过良好沟通构建优秀的企业品牌网站，欢迎来电深圳网站建设热线 <b><big>13266836563</big></b> 咨询。
				</p>
			</div>
		</div>
	</div>
	<div class="row index_pro">
  		<div class="col-xs-6 col-md-4 my_thumbnail">
	    	<a href="#">
	      	<img src="/images/yh.jpg" alt="...">
	      </a>
      	<div class="content">
      		<span class="title">深圳阳航科技有限公司</span><br>
      		<span class="type">企业网站建设</span>
      	</div>
    	</div>

<div class="col-xs-6 col-md-4 my_thumbnail">
	    	<a href="#">
	      	<img src="/images/srd.jpg" alt="...">
	      </a>
      	<div class="content">
      		<span class="title">深圳视睿迪有限公司</span><br>
      		<span class="type">企业网站建设</span>
      	</div>
    	</div>

<div class="col-xs-6 col-md-4 my_thumbnail">
	    	<a href="#">
	      	<img src="/images/zz.jpg" alt="...">
	      </a>
      	<div class="content">
      		<span class="title">深圳正则科技有限公司</span><br>
      		<span class="type">企业网站建设</span>
      	</div>
    	</div>

			<div class="col-xs-6 col-md-4 my_thumbnail">
	    	<a href="#">
	      	<img src="/images/i.jpg" alt="...">
	      </a>
      	<div class="content">
      	<!-- 	<span class="title">深圳诚也科技有限公司</span><br>
      		<span class="type">企业网站建设</span> -->
      	</div>
    	</div>

 			<div class="col-xs-6 col-md-4 my_thumbnail">
	    	<a href="#">
	      	<img src="/images/2.jpg" alt="...">
	      </a>
      	<div class="content">
      	<!-- 	<span class="title">深圳诚也科技有限公司</span><br>
      		<span class="type">企业网站建设</span> -->
      	</div>
    	</div>

    	<div class="col-xs-6 col-md-4 my_thumbnail">
	    	<a href="#">
	      	<img src="/images/3.jpg" alt="...">
	      </a>
      	<div class="content">
      	<!-- 	<span class="title">深圳诚也科技有限公司</span><br>
      		<span class="type">企业网站建设</span> -->
      	</div>
    	</div>

  </div>
</div>
</div>
<div class="index_footer">
	<div class="container-fluid">
		<div class="row">
			<div class="contact col-md-3 col-xs-6">
				<p class="title">联系我们</p>
				<i class="title_us">Contact Us</i>
				<p>-</p>
				<span>深圳诚也科技有限公司<br>
					南山区南山大道3688号深圳大学<br>	

					Room 213-218,Building "Gold",<br> 
					Dexign Industrial Park, <br>
					No.3838 Nanshan Road <br>

					Tel +86-0755-86658621 <br>
					E-mail designer@sumaart.com</span>
				<ul>
					<li></li>
				</ul>
			</div>
			<div class="contact col-md-3 col-xs-6">
				<p class="title">诚也原则</p>
				<i class="title_us">CY-Tech</i>
				<p>-</p>
				<span>
					我们本着
					“精诚、平等、合作”
					的原则	<br>
					期待与您的合作	
				</span>
				<ul>
					<li></li>
				</ul>
			</div>
			<div class="contact col-md-3 col-xs-6">
				<p class="title">项目动态</p>
				<i class="title_us">Contact Us</i>
				<p>-</p>

				<ul>
					<!-- <li><a href="">asassdasd</a></li>
					<li><a href="">dadasdasda</a></li>
					<li><a href="">dasdawda</a></li>
					<li><a href="">dwadwadaw</a></li>
					<li><a href="">awdawdaw</a></li> -->
				</ul>
			</div>
			<div class="contact col-md-3 col-xs-6">
				<p class="title">行业资讯</p>
				<i class="title_us">Contact Us</i>
				<p>-</p>
				
				<ul>
					<!-- <li><a href="">asassdasd</a></li>
					<li><a href="">dadasdasda</a></li>
					<li><a href="">dasdawda</a></li>
					<li><a href="">dwadwadaw</a></li>
					<li><a href="">awdawdaw</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
</div>

