<div id="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-md-4 my_thumbnail">
        <a href="#">
          <img src="/images/yh.jpg" alt="...">
        </a>
        <div class="content">
          <span class="title">深圳阳航科技有限公司</span><br>
          <span class="type">企业网站建设</span>
        </div>
      </div>

<div class="col-xs-6 col-md-4 my_thumbnail">
        <a href="#">
          <img src="/images/srd.jpg" alt="...">
        </a>
        <div class="content">
          <span class="title">深圳视睿迪有限公司</span><br>
          <span class="type">企业网站建设</span>
        </div>
      </div>

<div class="col-xs-6 col-md-4 my_thumbnail">
        <a href="#">
          <img src="/images/zz.jpg" alt="...">
        </a>
        <div class="content">
          <span class="title">深圳正则科技有限公司</span><br>
          <span class="type">企业网站建设</span>
        </div>
      </div>

      <div class="col-xs-6 col-md-4 my_thumbnail">
        <a href="#">
          <img src="/images/i.jpg" alt="...">
        </a>
        <div class="content">
        <!--  <span class="title">深圳诚也科技有限公司</span><br>
          <span class="type">企业网站建设</span> -->
        </div>
      </div>

      <div class="col-xs-6 col-md-4 my_thumbnail">
        <a href="#">
          <img src="/images/2.jpg" alt="...">
        </a>
        <div class="content">
        <!--  <span class="title">深圳诚也科技有限公司</span><br>
          <span class="type">企业网站建设</span> -->
        </div>
      </div>

      <div class="col-xs-6 col-md-4 my_thumbnail">
        <a href="#">
          <img src="/images/3.jpg" alt="...">
        </a>
        <div class="content">
        <!--  <span class="title">深圳诚也科技有限公司</span><br>
          <span class="type">企业网站建设</span> -->
        </div>
      </div>
		</div>
	</div>
</div>