<div id="main">
	<div class="container-fluid">
		<div class="row">
			<div class="box1 col-md-3">
				<p class="title">网站建设</p>
				<i class="title_us">Website</i>
				<p>-</p>
			</div>
			<div class="col-md-9">
			</div>
			<div class="col-md-12">
				<img src="/images/cybg.png" alt="" style="width:100%;margin-top:50px;margin-bottom:50px;">
			</div>
			<div class="box1 col-md-6 col-xs-12">
				<p class="title">网站建设</p>
				<i class="title_us">Website</i>
				<p>-</p>
			</div>
			<div class="box1 col-md-6 col-xs-12" style="color: #adadad">
				- 以品牌为导向、数字平台营销的理念对网站进行整体构建；<br>
				- 高度定制化设计与功能开发；<br>
				- 系统提升网站的品牌化、可用性、内容、平台营销能力与销售线索挖掘力；<br>  
				- 领先的Web响应式设计，一站适应PC、iPhone、iPad等多终端浏览；<br>
				- 丰富的建站实践经验；<br>
				- 稳定可靠的技术保障与服务保障；<br>
				- 完善地售后服务；
			</div>	
		</div>
	</div>

</div>